body {
  height: 100vh;
  font-family: "Source Sans Pro", sans-serif;
  background: linear-gradient(70deg, #8bc7ff, #befca6);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.low {
  margin-top: 25px;
}

h1 {
  color: rgba(39, 59, 175, 0.514);
}

.blokUs {
  font-weight: 700;
  padding: 5px;
  display: flex;
  border: 1px solid black;
  border-radius: 6px;
  margin-bottom: 8px;
}

.blokUs label {
  width: 435px;
  display: flex;
}

.blokadd {
  padding: 5px;
  display: flex;
  border: 1px solid black;
  border-radius: 6px;
  margin-bottom: 8px;
}

.blokadd input {
  border: 0px;
  outline: none;
  width: 400px;
  background: linear-gradient(70deg, #ffdbdb, #e3e3ff);
}

.blokadd label {
  width: 435px;
  display: flex;
}

.todoall {
  background: linear-gradient(70deg, #ffdbdb, #e3e3ff);
  margin-top: 40px;
  border-radius: 15px;
  width: 475px;
  padding: 15px;
  box-shadow: 10px 10px 5px #808080;
  user-select: none;
}

.priority {
  display: flex;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  justify-content: center;
}

.button {
  font-weight: 800;
  font-size: 18px;
  cursor: pointer;
  transition: 0.4s;
  user-select: none;
  margin-bottom: 1px;
  margin-left: 5px;
}

.button:hover {
  transform: scale(2);
}
